# Analisis Exploratorio del set de datos

In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
trocafone = pd.read_csv('events.csv', low_memory=False)

In [3]:
events_vc=trocafone['event'].value_counts()
events_vc

viewed product       528931
brand listing         98635
visited site          87378
ad campaign hit       82827
generic listing       67534
searched products     56073
search engine hit     50957
checkout              33735
staticpage             3598
conversion             1172
lead                    448
Name: event, dtype: int64

### Campos importantes segun evento

#### Campos sin valores nulos

In [4]:
def obtener_campos_sin_nulos(df):
    sin_nulos = df.apply(lambda x: not x.isnull().values.any())
    return sin_nulos[sin_nulos].to_frame('Campos sin valores nulos')

In [5]:
obtener_campos_sin_nulos(trocafone)

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True

#### Evento "viewed product"

In [6]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'viewed product'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True
sku                            True
model                          True
condition                      True
storage                        True
color                          True

#### Evento “brand listing”

In [7]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'brand listing'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True

#### Evento “visited site”

In [8]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'visited site'])

                          Campos sin valores nulos
timestamp                                     True
event                                         True
person                                        True
channel                                       True
new_vs_returning                              True
city                                          True
region                                        True
country                                       True
device_type                                   True
screen_resolution                             True
operating_system_version                      True
browser_version                               True

#### Evento “visited site”

In [9]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'visited site'])

                          Campos sin valores nulos
timestamp                                     True
event                                         True
person                                        True
channel                                       True
new_vs_returning                              True
city                                          True
region                                        True
country                                       True
device_type                                   True
screen_resolution                             True
operating_system_version                      True
browser_version                               True

#### Evento “ad campaign hit”

In [10]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'ad campaign hit'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True

#### Evento “generic listing”

In [11]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'generic listing'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True

#### Evento “searched products”

In [12]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'searched products'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True

#### Evento “search engine hit”

In [13]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'search engine hit'])

               Campos sin valores nulos
timestamp                          True
event                              True
person                             True
search_engine                      True

#### Evento “checkout”

In [14]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'checkout'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True
sku                            True

#### Evento “staticpage”

In [15]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'staticpage'])

            Campos sin valores nulos
timestamp                       True
event                           True
person                          True
staticpage                      True

#### Evento “conversion”

In [16]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'conversion'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True
sku                            True
model                          True
condition                      True
storage                        True
color                          True

#### Evento “lead”

In [17]:
obtener_campos_sin_nulos(trocafone.loc[trocafone['event'] == 'lead'])

           Campos sin valores nulos
timestamp                      True
event                          True
person                         True
model                          True